RewriteEngine On
RewriteBase /
RewriteRule ^(blender|animation|context_free|voluminisms|about_me|404)$ index.php?pageid=$1
RewriteRule ^programming$ programming.php

Options -Indexes

ErrorDocument 404 /404
