RewriteEngine On
RewriteBase /
RewriteRule ^(blender|animation|context_free|orbitals|traditional|about|404)$ index.php?pageid=$1
RewriteRule ^mit$ index.php
RewriteRule ^programming$ programming.php

Options -Indexes

ErrorDocument 404 /404
