.dropBoxShadowInset(@offsetX, @offsetY, @blur, @spread, @color) {
	-moz-box-shadow: inset @offsetX @offsetY @blur @spread @color;
	-webkit-box-shadow: inset @offsetX @offsetY @blur @spread @color;
	box-shadow: inset @offsetX @offsetY @blur @spread @color;
}

.dropBoxShadow(@offsetX, @offsetY, @blur, @spread, @color) {
	-moz-box-shadow: @offsetX @offsetY @blur @spread @color;
	-webkit-box-shadow: @offsetX @offsetY @blur @spread @color;
	box-shadow: @offsetX @offsetY @blur @spread @color;
}

.roundedCorners (@radius) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

@primary-text-color: #000;
@primary-font: Arial, 'Helvetica Neue', Sans;

.stealthLink {
	A:link    {text-decoration: none; color: @primary-text-color;}
	A:visited {text-decoration: none; color: @primary-text-color;}
	A:active  {text-decoration: none; color: @primary-text-color;}
	A:hover   {text-decoration: none; color: @primary-text-color;}
}

@link-color: #666;
@link-color-active: @link-color + #222;
A:link    {text-decoration: none; color: @link-color;}
A:visited {text-decoration: none; color: @link-color;}
A:active  {text-decoration: none; color: @link-color-active;}
A:hover   {text-decoration: none; color: @link-color-active;}

body {
	background-color: #fff;
	// Font
	color: @primary-text-color;
	font-size: 11pt;
	font-family: @primary-font;
	
	// Flow
	margin: 0;
}

@LCwidth: 200px;
@RCwidth: 600px;
@LineSpacing: 20px;
@Lstart: 40px;
@Rstart: 10px;

#container {
	width: @LCwidth + @RCwidth + @LineSpacing;
	margin: 0 auto;
	position: relative;
	
	#colL {		
		width: @LCwidth;
		float: left;
		margin-top: @Lstart;
		
		#symbol {
			background-image: url(/images/onionV10.png);
			background-repeat: no-repeat;
			background-position: 0px 0px;
			
			width: 200px;
			height: 200px;
			float: right;
		}
		
//		#symbol:hover {
//			background-image: url(/images/onionV4.png);
//		}
		
		#divisorL {
			background-image: url(/images/divisorL.png);
			background-repeat: no-repeat;
			background-position: 100% 0px;
			
			float: right;
			width: @RCwidth + @LineSpacing;
			height: @LineSpacing;
			margin-top: 0px;
		}
		
		#nav {
			float: right;
			
			ul {
			list-style-type: none;
			text-align: right;
			.stealthLink;
			
				li {
					@border-width: 1px;
					
					width: 100px;
					padding: 20px 20px;
					margin-bottom: -@border-width;
					position: relative;
					overflow: visible;
					
					border-width: @border-width 0px;
					border-color: #666;
					border-style: solid;
					
					span {
						letter-spacing: 1.5px;
						top: 10px;
						right: 0px;
						position: absolute;
					}
				}
			}
		}
	}
	
	#divisorM {
		background-image: url(/images/divisorM.png);
		background-repeat: repeat-y;
		background-position: 0px 0px;
		
		width: @LineSpacing;
		height: 620px;
		float: left;
	}
	
	#colR {
		width: @RCwidth;
		float: left;
		margin-top: @Rstart;
		
		#pagetitle {
			font-family: 'Times New Roman';
			font-variant: small-caps;
			font-size: 50px;
			letter-spacing: 4px;
			padding-left: 30px;
		}
		
		#divisorR {
			background-image: url(/images/divisorR.png);
			background-repeat: no-repeat;
			background-position: 0px 0px;
			
			width: @RCwidth + @LineSpacing;
			height: @LineSpacing;
		}
		
		#content {
			padding-left: 3px;
			padding-top: 10px;
			
			div {
				margin-bottom: 30px;
			}
		
			.imgholder {
//				background-color: #fff;
//				padding: 10px;
				.dropBoxShadowInset(0, 0, 20px, 0, #ccc);
			}
			
			.exegesis {
				padding: 15px;
				.dropBoxShadowInset(0, 0, 20px, 0, #ccc);
			}
		}
	}
	
	#footer {	
		font-size: 11px;
		text-align: center;
		padding-bottom: 10px;
		bottom: 0px;
		clear: both;
	}
}
